.animation-button {
  position: relative;
  overflow: hidden;
}
.animation-button::after {
  content: "";
  position: absolute;
  height: 200%;
  width: 3px;
  background: $ColorLight;
  top: -10px;
  left: -20px;
  transform: rotate(25deg);
  transition: all 0.3s ease;
}
.animation-button:hover::after {
  transition: all 0.3s ease;
  left: 100%;
}

.zoom-div {
  overflow: hidden;
}
.zoom-image {
  transition: all 0.3s ease;
}
.zoom-image:hover {
  transform: scale(1.1);
}

.image-container {
  position: relative;
  display: flex;

  min-width: 270px;
  max-height: 235px;
  height: 100%;
  width: 100%;
}
