.animation-button {
  position: relative;
  overflow: hidden;
}
.animation-button::after {
  content: "";
  position: absolute;
  height: 200%;
  width: 3px;
  background: $ColorLight;
  top: -10px;
  left: -20px;
  transform: rotate(25deg);
  transition: all 0.3s ease;
}
.animation-button:hover::after {
  transition: all 0.3s ease;
  left: 100%;
}

.zoom-div {
  overflow: hidden;
}
.zoom-image {
  transition: all 0.3s ease;
}
.zoom-image:hover {
  transform: scale(1.1);
}

.image-container {
  position: relative;
  display: flex;

  min-width: 270px;
  max-height: 235px;
  height: 100%;
  width: 100%;
}

.bounce {
  animation: bounce-animate 0.5s linear alternate infinite;
}

.card-home-1>img,
.card-home-2>img{

  inset: 0;
  height: 100%;
}
.card-home-1>div,
.card-home-2>div{
  transition: all .4s ease;
}
.card-home-2{
  align-self: flex-end;
  transition: all .4s ease;
}
.card-home-1:hover >.inside-card{
  transition: all .4s ease;
  right: -100%;
}
.card-home-2:hover >.inside-card{
  transition: all .4s ease;
  left: -100%;
}
@keyframes bounce-animate {
  from {
    transform: translateY(0) rotate(-45deg);
  }
  to {
    transform: translateY(5px) translateX(5px) rotate(-45deg);
  }
}


@media screen and (max-width:991px) {
  .card-home-1:hover +.card-home-2{
    z-index: 1 !important;
  }
  .card-home-1:hover >.inside-card{
    transition: all .4s ease;
    bottom: -100%;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 10000000000 !important;
  }
  .card-home-2:hover >.inside-card{
    transition: all .4s ease;
    bottom: -100%;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 10000000000 !important;
  }
}